<section data-ng-controller="AboutController" style="margin:0 auto;width:80%;text-align:left">
<h3>关于我们</h3>
<div class="ui divider"></div> 

    云豆绘本馆（图书借阅馆），是一家专注于儿童早期阅读，以儿童绘本图书馆为平台，集读书、借书、售书为经营模式的专业机构。 
以给孩子人生的第一张借书卡为经营理念，以有声绘本这种更为方便的方式开启孩子的阅读为已任，让优秀的儿童早期读物走进广大家庭为服务宗旨。 
定期开展会员活动，集音乐、美术、舞蹈、手工、外语、文化知识、动画赏析为一体的多功能图书借阅馆，在丰富孩子知识、开阔视野的同时，大力挖掘孩子的各种潜能。

<div class="ui divider"></div>
<h4>服务&价格</h4>

<table class="ui celled  structured table " style="margin:0 auto;width:60%;min-width:500px;">
	<thead>
		<tr>
		  <th colspan="2">服务 & 价格</th>
		  <th rowspan="2">免费体验卡</th>
		  <th rowspan="2">豆卡 <br/> 420元/年</th>
		  <th rowspan="2">云卡 <br/> 660元/年</th>
		</tr>
		<tr>
			<th>
				类别
			</th>
			<th>
				服务
			</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td rowspan="2">体验服务</td>
			<td>每次1本绘本，当月不限次数租借</td>
			<td><i class="large green checkmark icon"></i></td>
			<td></i></td>
			<td></td>
		</tr>
		<tr>
			<td>参加周末丰富的亲子活动</td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
		</tr>

		<tr>
			<td rowspan="3">会员服务</td>
			<td>每次4本绘本，全年不限次数租借</td>
			<td></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
		</tr>
		<tr>
			<td>微信亲子教育文章推送</td>
			<td></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
		</tr>
		<tr>
			<td>儿童阅读指导</td>
			<td></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
		</tr>
		<tr>
			<td rowspan="4">高级精品服务</td>
			<td>奥尔夫音乐</td>
			<td></td>
			<td></td>
			<td><i class="large green checkmark icon"></i></td>
		</tr>
		<tr>
			<td>磁力玩具</td>
			<td></td>
			<td><i class="large green checkmark icon"></i></td>
			<td><i class="large green checkmark icon"></i></td>
		</tr>
		<tr>
			<td>馆藏高级玩具使用权</td>
			<td></td>
			<td></td>
			<td><i class="large green checkmark icon"></i></td>
		</tr>
		<tr>
			<td>英语口语等课程</td>
			<td></td>
			<td></td>
			<td><i class="large green checkmark icon"></i></td>
		</tr>
	</tbody>
</table>

<div class="ui divider"></div> 
<h4>绘本简介</h4>

绘本，也叫图画书，是一种图文配合，尤其强调用图画来讲故事的书。 
其显著特点是：精炼生动的语言和优美的绘画紧密搭配，形成完整的故事。 
在绘本里，图画不再是文字的附庸，而是图书的生命，甚至有绘本是无字书。 
“不需要文字，图画就可以讲故事”，文字与图画共同担当讲故事的重要角色，图画不再仅仅是辅助和诠释文字的作用。 
优秀的图画书是文学、绘画、教育三者和谐完美的结合。
        
</section>
