<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12 center">
				<img alt="MEAN.JS" class="img-responsive img-inline" src="modules/core/img/brand/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
      
        	<h2 class="text-muted">云豆绘本馆</h2>

			<p class="lead">
				最享受的时光  最高贵的教养
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-success " ui-route='/about' href="/#!/about" >连接绘本世界</a>
			</p>
		</div>
	</div>
	<div id="news">
		<ul>
			<li><a href="#">绘本馆搬迁至民生银行(2015.3.7)</a></li>
		</ul>
	</div>
	<div class="footer">
		<br>Created by 云豆合伙人, Powerd by MEAN.js
		<br>@2015 All rights reserved.
	</div>
</section>
