<section data-ng-controller="HomeController">
	<div>
			<img alt="www.cloud-bean.com" class="" src="modules/core/img/brand/logo.png" />
		
		<br>
		<h1 class="text-muted">云豆绘本馆</h1>
		<p class="lead">
			最享受的时光  最高贵的教养
		</p>
		<br/>
		<a href="/#!/about"><div class="ui inverted blue button">连接绘本世界</div></a>
		<br/>
	</div>
	<h5 class="ui horizontal header divider">
	  <i class="feed icon"></i>
	   新闻公告
	</h5>
	<div id="news">
			<a href="#">绘本馆搬迁至民生银行(2015.3.7)</a>
	</div>
	<div class="footer">
		<br>Created by 云豆合伙人, Powerd by MEAN.js
		<br>@2015 All rights reserved.
	</div>
</section>
