body,html {
    margin:0;
    padding:0;
    height: 100%;
}
.content {
    margin:0 auto;
	margin-top: 50px;
}

.wrap {
    min-height: 100%;
    height: 100%;
    height: auto !important;
     position: relative;
}
.main-container {
    padding-bottom: 66px;  /* as the height of footer */
}

.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.img-inline {
	display: inline-block;
}


.thumbnails img {
	width:100%
}


.hbg-center{
    text-align:center;
    margin:0 auto;
    padding:20px;
}

.even {
    background-color: #aaa;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 66px;/*脚部的高度*/
    background: #eee;
    clear:both;
    padding:10px 50px !important;
}




