<section data-ng-controller="RecordsController">
    <div class="page-header">
        <h1>借 书</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="create()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="card_number">会员</label>
                    <div class="controls">
                        <input type="text" data-ng-model="member.card_number" id="card_number" class="form-control" placeholder="member card_number" required>
                    </div>
                </div> 
                <div class="form-group">
                    <label class="control-label" for="book">book inv code</label>
                    <div class="controls">
                        <input type="text" data-ng-model="member.card_number" id="card_number" class="form-control" placeholder="member card_number" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" ng-if="member._id" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>
