<section data-ng-controller="RecordsController">
    <div class="page-header">
        <h1>借 书</h1>
    </div>
    <div class="ui divider"></div>
    <div class="content" style="position: relative">
        <div class="ui two column middle aligned relaxed fitted stackable grid">
            <div class="center aligned column">
                <div class="field">
                    <div class="ui left icon input">
                        <input type="text" placeholder="会员卡号" ng-model="card_number">
                        <i class="payment icon"></i>
                    </div>
                </div>
                <br/>
                <div class="field">
                    <div class="ui left icon input">
                        <input type="text" placeholder="搜索绘本" ng-model="keyword">
                        <i class="barcode icon"></i>
                    </div>
                </div>
            </div>
            <div ng-show="member">
                {{ member.baby_name }}
            </div>
            <div ng-show="inventory">
                {{ inventory.inv_code}}-{{ inventory.name }}</li>
            </div>
             <h4 class="ui horizontal header divider">
                <i class="book chart icon"></i>
                书单
              </h4>
           
            <div class="center aligned column">
                <div class="large green ui labeled icon button">
                    <i class="arrow circle right icon"></i> Yeah,借走
                </div>
            </div>
        </div>
    </div>
</section>
