<section data-ng-controller="RecordsController" data-ng-init="find()">
    <div class="page-header">
        <h1>借阅纪录</h1>
    </div>
    <div class="list-group" style="margin:0 auto;align:center;text-align:left">
        <a data-ng-repeat="record in records" data-ng-href="#!/records/{{record._id}}" class="list-group-item">
    			<small class="list-group-item-text">
    				借阅时间
    				<span data-ng-bind="record.start_date | date:'yyyy/MM/dd'"></span>
    				by
    				<span data-ng-bind="record.member.baby_name"></span>
                    <span data-ng-show="record.return_date">归还时间：{{record.return_date | date:'yyyy/MM/dd'}}</span>
    			</small>
                <span data-ng-bind="record.status"></span>
    			<h4 class="list-group-item-heading" >{{record.inventory}}</h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!records.$resolved || records.length">
    	No Records yet, why don't you <a href="/#!/records/create">create one</a>?
    </div>
</section>
