<section data-ng-controller="RecordsController" data-ng-init="initPage()" >
    <div class="page-header">
        <h1>Recent Records</h1>
    </div>

 <!--  data-ng-repeat="inventory in inventories" -->


    <div class="item"  >
     <table class="ui table segment">
      <thead>
        <tr>
        <th>家长手机号</th>
          <th>会员卡号</th>
          <th>宝宝名字</th>
          <th>书名</th>
          <th>入库编号</th>
          <th>动作</th>
           <th>时间</th>
        </tr>
        </thead>
        <tbody>
        <tr   data-ng-repeat="record in records">
          <td>{{record.member.phone_number}}</td>
          <td>{{record.member.card_number}}</td>
          <td>{{record.member.baby_name}}</td>
          <td>{{record.inventory.name | limitTo: 30}}</td>
          <td>{{record.inventory.inv_code}}</td>
          <td>{{record.base.status=='R'?'借出':'归还'}}</td>
          <td>{{record.dayFromNow}}</td>
          </tr>
        </tbody>

      </table>
    </div>


<!-- <paging
      class="small"
      page="currentPage"
      page-size="pageSize"
      total="totalSize"
      adjacent="2"
      dots="..."
      scroll-top="true" 
      hide-if-empty="true"
      ul-class="pagination"
      active-class="active"
      disabled-class="disabled"
      show-prev-next="true"
      paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize)">
    </paging>  -->

</section>
