<section class="row" data-ng-controller="SettingsController">
	<form class="ui form" autocomplete="off" novalidate>
		<h4 class="ui dividing header">修改密码</h4>
		<div class="five fields">
			<div class="required field"></div>
			<div class="required field"></div>
			<div class="required field">
			    <label>当前密码</label>
				<input type="password" id="currentPassword" name="currentPassword" class="form-control" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
			</div>
		    <div class="required field"></div>
		    <div class="required field"></div>
		</div>
		<div class="five fields">
			<div class="required field"></div>
			<div class="required field"></div>
			<div class="required field">
			    <label for="newPassword">新密码</label>
					<input type="password" id="newPassword" name="newPassword" class="form-control" data-ng-model="passwordDetails.newPassword" placeholder="新密码">
			</div>
		    <div class="required field"></div>
		    <div class="required field"></div>
		</div>
		<div class="five fields">
			<div class="required field"></div>
			<div class="required field"></div>
			<div class="required field">
			    <label for="verifyPassword">确认密码</label>
					<input type="password" id="verifyPassword" name="verifyPassword" class="form-control" data-ng-model="passwordDetails.verifyPassword" placeholder="再次重复输入新密码">
			</div>
		    <div class="required field"></div>
		    <div class="required field"></div>
		</div>
	
		<a class="ui blue button" ng-click="changeUserPassword()">保存密码</a>
		<div data-ng-show="success" class="ui green message">
			<strong>Password Changed Successfully</strong>
		</div>
		<div data-ng-show="error" class="ui red message">
			<strong data-ng-bind="error"></strong>
		</div>
	</form>
</section>
