<section class="row" data-ng-controller="SettingsController" >
	<form class="ui form" autocomplete="off" novalidate>
		<h4 class="ui dividing header">修改个人设置</h4>
		<div class="five fields">
			<div class="required field"></div>
			<div class="required field"></div>
			<div class="required field">
			    <label>姓名</label>
			    <div class="two fields">
			        <div class="field">
			            <input type="text" name="firstName" data-ng-model="user.firstName" placeholder="姓">
			        </div>
			        <div class="field">
			            <input type="text" name="lastName" data-ng-model="user.lastName" placeholder="名">
			        </div>
			    </div>
			</div>
		    <div class="required field"></div>
		    <div class="required field"></div>
		</div>
		<div class="five fields">
			<div class="required field"></div>
			<div class="required field"></div>
		    <div class="required field">
	        	<label for="email">Email</label>
	        	<div class="ui icon input">
					<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="邮箱">
					<i class="mail icon"></i>
				</div>
			</div>
		    <div class="required field"></div>
		    <div class="required field"></div>
		</div>
		<div class="five fields">
			<div class="required field"></div>
			<div class="required field"></div>
		    <div class="required field">
		        <label>username</label>
		        <div class="ui icon input">
		            <input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="会员用户名默认为会员卡号">
		            <i class="user icon"></i>
		        </div>
		    </div>
		    <div class="required field"></div>
		    <div class="required field"></div>
		</div>
		<!-- <div class="five fields">
		    <div class="required field"></div>
		    <div class="required field"></div>
		    <div class=" field">
				<label for="member">绑定会员</label>
				<input type="text" id="card_number" name="card_number" class="form-control" data-ng-model="user.member_card_number" placeholder="会员卡号码">
			</div>
		    <div class="required field"></div>
		    <div class="required field"></div>
		</div> -->
		
		<div class="ui button blue" ng-click="updateUserProfile(userForm.$valid)">&nbsp;保&nbsp;&nbsp;存&nbsp;</div>
		
		<div data-ng-show="success" class="ui green message">
			<strong>Profile Saved Successfully</strong>
		</div>
		<div data-ng-show="error" class="ui red message">
		    <strong data-ng-bind="error"></strong>
		</div>
	</form>
</section>
