<section data-ng-controller="MembersController" data-ng-init="find()">
    <div class="page-header ">
        <h1>会&nbsp;&nbsp;员</h1> 
    </div>
  
    <div>
      <div class="ui search">
          <div class="ui icon input">
            <input class="prompt" type="text" placeholder="搜索会员..." data-ng-model="search.$" >
            <i class="search icon"></i>
          </div>
          &nbsp;&nbsp;&nbsp;&nbsp;<a href="/#!/members/create" class="ui inverted green button  small " ><i class="add icon"></i>新增会员</a>
          <a data-ng-if="!showLockedMember" class="ui inverted blue button small" data-ng-click="showLockedMembers()">显示已过期的会员</a>
          <a data-ng-if="showLockedMember"  class="ui inverted orange button small" data-ng-click="hideLockedMembers()">隐藏已过期的会员</a>
      </div>
    </div>

    <div class="ui celled selection animated list ">
        <div class="item" data-ng-repeat="member in members | filter:search.$">
            <i class="red huge male icon" ng-show="member.isBoy"></i>
            <i class="purple huge female icon" ng-hide="member.isBoy"></i>
            <div class="content" style="text-align:left;">
                <div class="header ">
                  <a class="ui button inverted tiny" ng-class="{red: member.isBoy, purple: !member.isBoy}" data-ng-href="#!/members/{{member._id}}">{{member.baby_name}} </a>
                </div>
                <small class="list-group-item-text">
                    卡号：
                    <span data-ng-bind="member.card_number">&nbsp;&nbsp;&nbsp;&nbsp;</span> 

                    办卡日期：
                    <span data-ng-bind="member.active_time | date:'yyyy/MM/dd'"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                    
                    <br/>
                    剩余天数:
                    <span data-ng-bind=" availableDays(member)"></span>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="ui red label" ng-show="availableDays(member) < 30 && availableDays(member)>0 ">Almost Out of Date</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;<span class="ui blue label"  ng-show="member.locked===true">Freezed</span>
                    <br/>
                    <span ng-hide="member.parent_name.length === 0">家长：{{member.parent_name}}&nbsp;&nbsp;&nbsp;&nbsp;</span>                
                    
                    <span ng-hide="member.phone_number.length === 0">电话：{{member.phone_number}}</span>                
                    &nbsp;&nbsp;&nbsp;&nbsp;

                    <span ng-hide="member.other.length === 0">备注：{{member.other}}</span>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                </small>

            </div>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!members.$resolved || members.length">
    	No Members yet, why don't you <a href="/#!/members/create">添加会员</a>?
    </div>
</section>
