<section data-ng-controller="MembersController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 >{{member.card_number}}-{{member.baby_name}}</h1>
		<div data-ng-show="((authentication.user) || (authentication.user.member._id == member._id))">
			<a class="btn btn-primary" href="/#!/members/{{member._id}}/edit">
				更新资料<i class="glyphicon glyphicon-edit"></i>
			</a>
			<a class="btn btn-danger disabled" data-ng-click="freeze();">
				冻结会员<i class="glyphicon glyphicon-trash"></i>
			</a>
		</div>
	</div>
	

	<small>
		<em class="text-muted">
			会员激活时间:
			<span data-ng-bind="member.active_time | date:'yyyy/MM/dd'"></span>
			<span ng-hide="member.parent_name.length===0">家长：{{member.parent_name}}</span>
		</em>

	</small>
</section>
