<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">


	<!-- Fav Icon -->
	<link href="http://cloudbean.qiniudn.com/hbg2-favicon.ico" rel="shortcut icon" type="image/x-icon">

	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body class="ng-cloak">
	<div class="ui left  vertical inverted labeled icon sidebar menu" style="" data-ng-controller="HeaderController">
		<div data-ng-hide="authentication.user">
			<a class="item" href="/#!/signup" ui-route="/signup">
			    <i class="signup icon"></i> 注册
			</a>
			<a class="item" href="/#!/signin" ui-route="/signin">
			    <i class="sign in icon"></i> 登录
			</a>
		</div>
		<div data-ng-show="authentication.user">
			<a class="item" >
				<span data-ng-bind="authentication.user.displayName"></span>
			</a>
		</div>
		<a class="item" href="/#!/">
			<i class="home icon"></i>首页
		</a>
		<a class="item" href="/#!/inventories">
			<i class="search icon"></i>搜书
		</a>
		<a class="item" href="/#!/records">
		    <i class="cart icon"></i> 借书
		</a>
		<a class="item" href="/#!/records">
		    <i class="refresh icon"></i> 还书
		</a>
		<a class="item" href="/#!/about">
			<i class="info icon"></i>关于
		</a>
		<div data-ng-show="authentication.user">
			<a class="item" href="/#!/settings/profile">
			    <i class="user icon"></i> 会员信息
			</a>
			<a class="item" href="/#!/settings/password">
			    <i class="privacy icon"></i> 修改密码
			</a>
			<a class="item" href="/auth/signout">
			    <i class="sign out icon"></i> 退出登录
			</a>
		</div>
	</div>
	<!--header data-ng-include="'/modules/core/views/header.client.view.html'" class="navbar navbar-fixed-top navbar-inverse"></header-->
	<div id="container" class=" container-main pusher" >
		<div data-transition="push" data-direction="left"  class="sidebar-push-button ui button">
			<i class="sidebar icon"></i>菜单
		</div>
		<section class="content hbg-center">
			<section >
				{% block content %}{% endblock %}
			</section>
		</section>
	</div>
	
	<!--Embedding The User Object-->
	<script type="text/javascript">
		var user = {{ user | json | safe }};
	</script>


	<!--Application JavaScript Files-->
	{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}

	<!-- menu sidebar push-->
	<script type="text/javascript">
		$(document)
			.ready(function() {

				$('.sidebar-push-button')
					.on('click', function() {
						var
							transition = $(this).data('transition'),
							direction  = $(this).data('direction'),
							dimPage    = false;
						;
						if( $(this).filter('.disabled').size() === 0) {
							$('.' + direction + '.sidebar.menu')
								.not('.styled')
								.sidebar('setting', {
									dimPage          : dimPage,
									transition       : transition,
									mobileTransition : transition
								})
							;
							$('.' + direction + '.sidebar.menu').not('.styled').sidebar('toggle');
						}

					})
				;
			})
		;
		</script>

	{% if process.env.NODE_ENV === 'development' %}
	<!--Livereload script rendered -->
	<script type="text/javascript" src="http://{{request.hostname}}:35729/livereload.js"></script>
	{% endif %}
</body>

</html>
