<section data-ng-controller="InventoriesController">
    <div class="page-header">
        <h1>新书入库</h1>
    </div>

    <div class="ui fluid form segment" style="background: #ccc;">
        <div class="field">
            <label>位置</label>
            <input placeholder="location" type="text" data-ng-model="location">
        </div>
        <div class="field">
            <label>入库编码</label>
            <input placeholder="唯一标签码" type="text" data-ng-model="inv_code">
        </div>
        <div class="field">
            <label>FM音频地址</label>
            <input placeholder="FM音频地址" type="text" data-ng-model="fm_radio_url">
        </div>

        <div class="field">
            <label>商店名字</label>
            <input type="text" placeholder="商店名字"  data-ng-model="store_name">
        </div>
        <div class="field">
            <label>owner</label>
            <input type="text" placeholder="owner"  data-ng-model="owner">
        </div>

        <div class="field">
            <label>Tags</label>
            <div data-ng-repeat="tag in newTags">
                <input placeholder="" type="text" data-ng-model="tag.name">
            </div>
            <div class="ui inline field">
                <input placeholder="add more tag" data-ng-model="newTag" >
                <a class="ui tiny green button" data-ng-click="addNewTag()">+tag</a>
            </div>
        </div>
        <div style="border:2px solid darkred;padding: 10px;">
            <div class="ui search  ">
                <div class="ui icon input">
                    <input class="prompt" type="text" placeholder="search books by isbn or name..." data-ng-model="keyword">
                    <i class="search icon"></i>
                </div>

                <div class="ui  list " >
                    <span class="ui blue message" data-ng-if="keyword.length && searching">searching...</span>
                    <span class="ui red message" data-ng-if="keyword.length && !searching  && inventories.length == 0">no results.</span>
                    <div class="item" style="text-align: left;" >
                        <div class="content" style="margin-top: 10px; !important;" data-ng-repeat="inventory in inventories">
                            <a class="ui teal tiny reverted button " data-ng-click="fillFormAuto($index)">自动填充</a>
                            <span>{{inventory.name}}-#isbn:{{inventory.isbn}}</span>
                            <i data-ng-show="inventory.img" class="file image outline teal icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="field">
                <label>图书书名</label>
                <input placeholder="" type="text" data-ng-model="name">
            </div>
            <div class="field">
                <label>图书isbn</label>
                <input placeholder="" type="text" data-ng-model="isbn">
            </div>
            <div class="field" data-ng-show="skuid">
                <label>书商品编号(jd.com)</label>
                <input placeholder="" type="text" data-ng-model="skuid">
            </div>
            <div class="field" data-ng-show="url">
                <label>书网页地址（jd.com）</label>
                <input placeholder="" type="text" data-ng-model="url">
            </div>

            <div class="field" data-ng-show="img">
                <label>cover-img</label>
                <img ng-src="{{ img }}" style="width:320px;">
            </div>
            <div class="field" data-ng-show="author">
                <label>图书作者</label>
                <input placeholder="" type="text" data-ng-model="author">
            </div>
            <div class="field" data-ng-show="pub_by">
                <label>出版社</label>
                <input placeholder="" type="text" data-ng-model="pub_by">
            </div>
            <div class="field" data-ng-show="pub_date">
                <label>出版时间</label>
                <quick-datepicker ng-model="pub_date"></quick-datepicker>
            </div>
        </div>

        <div data-ng-show="error" class="ui message red">
            <h4>数据不正确，请检查修改！</h4>
            <strong data-ng-bind="error"></strong>
        </div>
        <div class="ui divider "></div>
        <div class="ui submit  button" ng-class="{green:canSubmit}" ng-disabled="!canSubmit" data-ng-click="create()">新书入库－保存信息</div>
    </div>


</section>
