<section data-ng-controller="InventoriesController" data-ng-init="initPaging()">
    <div class="page-header">
        <h1>库存图书</h1>
    </div>
    <div class="ui remote search focus">
        <div class="ui icon input">
            <input type="text" ng-model="keyword" placeholder="搜索绘本..." class="prompt" autocomplete="on">
            <i class="search icon"></i>
        </div>
    </div>
    <div class="ui celled selection animated list">
        <div class="item" data-ng-repeat="inventory in inventories" data-ng-href="#!/inventories/{{inventory._id}}">
            <div class="content" style="text-align:left; margin-top:10px;">
                <img class="ui tiny left floated image" ng-src="{{inventory.img.length ? inventory.img : 'http://7xjhy3.com1.z0.glb.clouddn.com/mob-logo.png'}}">
                <h4 data-ng-bind="inventory.name"></h4> ISBN: <span data-ng-bind="inventory.isbn"></span>
                <br/> 
                入库时间：<span data-ng-bind="inventory.in_time | date:'yyyy-MM-dd'"></span> 
                编号：<span data-ng-bind="inventory.inv_code"> </span> &nbsp&nbsp位置：<span data-ng-bind="inventory.location"> </span>
            </div>
        </div>
        <div class="ui red message" data-ng-hide="!inventories.$resolved || inventories.length">
            No Inventories yet, why don't you <a href="/#!/inventories/create">create one</a>?
        </div>
    </div>
    <paging class="small" page="currentPage" page-size="pageSize" total="totalSize" adjacent="2" dots="..." scroll-top="true" hide-if-empty="true" ul-class="pagination" active-class="active" disabled-class="disabled" show-prev-next="true" paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize)">
    </paging>
</section>
