<section data-ng-controller="InventoriesController" data-ng-init="initPaging()">
    <div class="page-header">
        <h1>库存图书</h1>
    </div>
    <div class="ui remote search focus">
        <div class="ui icon input">
            <input type="text" ng-model="keyword" placeholder="搜索绘本..." class="prompt" autocomplete="on">
            <i class="search icon"></i>
        </div>
    </div>
    <div class="ui celled selection animated list">
        <div class="item" data-ng-repeat="inventory in inventories" data-ng-href="#!/inventories/{{inventory._id}}">
            <div class="content" style="text-align:left; margin-top:10px;">
                <div class="header ">
                    <a class="ui button tiny" ng-href="{{'/#!/inventories/' + inventory._id  +'/edit'}}"> <i class="edit blue  icon"></i>编辑</a>
                    <a class="ui button tiny" ng-href="{{'/#!/inventories/' + inventory._id }}"> <i class=" eye orange icon"></i>查看</a>
                    <a class="ui button tiny" data-ng-click="delete($index)"> <i class=" trash red icon"></i>删除</a>
                </div>
                <h4 data-ng-bind="inventory.name"></h4>
                <small style="margin-top: 10px;">
                    TAGS:
                    <span ng-repeat="tag in inventory.tags"> {{ tag.name }} </span>
                    <br/>
                    ISBN:
                    <span data-ng-bind="inventory.isbn"></span>
                    <br/>
                    入库时间：
                    <span data-ng-bind="inventory.in_time | date:'yyyy-MM-dd'"></span>
                    <br/>
                    书名：
                    <input  class=""  data-ng-model="inventory.name">
                    编号：
                    <input  class=""  data-ng-model="inventory.inv_code">
                    位置：
                    <input class=" " data-ng-model="inventory.location">
                    <a class="ui tiny inverted green button" data-ng-click="save_quick_edit($index)">保存修改结果</a>
                </small>
            </div>
        </div>
        <div class="ui red message" data-ng-hide="!inventories.$resolved || inventories.length">
            No Inventories yet, why don't you <a href="/#!/inventories/create">create one</a>?
        </div>
    </div>
    <paging class="small" page="currentPage" page-size="pageSize" total="totalSize" adjacent="2" dots="..." scroll-top="true" hide-if-empty="true" ul-class="ui pagination menu " active-class="active green item" disabled-class="disabled item" show-prev-next="true" paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize)">
    </paging>
    
</section>
